<div class="row">
    <div class="col-5">
        <img class="rounded border border-info" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=jpg/path/s9d9c47328bcb7893/image/ib561fe90e42ace64/version/1590716367/image.jpg" width="700" height="500" alt="">
    </div>

        <div class="col-4">
            <div class="texto">
                <br><br><br>
                <h1>Sobre FastCalls</h1>
                <br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vel in maiores iusto odit, ipsam
                    aliquam
                    dolores ducimus eos natus dolore quos aliquid autem quo sapiente possimus! Quas, ab repudiandae.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae corrupti soluta eveniet dolores
                    reiciendis suscipit veniam illo quia, ipsum error impedit delectus illum dignissimos quidem
                    obcaecati
                    tempora mollitia sint culpa.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum mollitia, dolore similique unde atque
                    temporibus, repellendus sed voluptatibus quisquam minima commodi sequi reprehenderit officia dolor
                    quos
                    porro nulla natus perferendis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quam recusandae odio fugiat ipsa
                    esse
                    consequatur ex a, excepturi cupiditate, vel quasi doloremque animi harum aperiam corrupti libero
                    odit
                    dolores.</p>
            </div>
        </div>
    </div>