<div class="container">
    <div class="logout">
        <app-logout></app-logout>
    </div>
    <h1 class="h1-fluid">
        <br>
        Admin
        <br>
        <br>
    </h1>

    <div class="row">
        <div class="col-4 mx-auto">
            <div class="card" style="width: 18rem; height: 12rem">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Lista de Vendedores</h5>
                    <p class="card-text">Observar todos los vendedores que hay en la base de datos.</p>
                    <div class="boton">
                        <a href="/admin/vendedor" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 mx-auto">
            <div class="card" style="width: 18rem; height: 12rem">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Lista de Ventas</h5>
                    <p class="card-text">Observar todas las ventas hechas por los vendedores.</p>
                    <div class="boton">
                        <a href="/admin/ventas" class="btn btn-primary"> Ir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 mx-auto">
            <div class="card" style="width: 18rem; height: 12rem;">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Reporte</h5>
                    <p class="card-text">Crear un Reporte.</p>
                    <div class="boton">
                        <a href="/admin/reporte" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>